.body {
  margin: 0;
  flex-direction: column;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
  display: flex;
  min-width: 200px;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: auto;
}

.card-actions {
  text-align: center;
}

.see-more {
  margin-left: auto;
  padding-bottom: 15px;
  align-self: flex-end;
}

.MuiCardContent-root-71 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.card-media {
  height: 200px;
  width: 100%;
}

.cardDiv{
  max-width: 345px;
  min-width: 200px;
  border-radius: 10px;
  border-radius: 10px;
  margin: 10px;
}


