body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .WDI {
    // background-image: url("./background.png");
    background-size: cover;
  }
 